/* 清除默认样式 */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   font: 16px/1.5  "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}
/* 清除列表默认样式 */
ul,
ol{
    list-style: none;
}
em,i{
    font-style:normal
}
a{
    text-decoration: none;
    color:#333
}
img{
    width:100%;
    height:100%;
    color: #333;
}
h1,h2,h3,h4,h5,h6{
    font-weight:400;
}